@import '../../../../styles-variables.scss';

.jumbotron {
  text-align: center;
  margin-top: 10px;
  a {
    color: white;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .jumbotron {
    width: 40%;
    margin: auto;
    margin-top: 20px;
  }
}
