<h2>
    Log in 
  </h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="email" placeholder="Email" type="email">
        <!-- <mat-icon matSuffix>done</mat-icon> -->
      </mat-form-field>
    </p>
    
    <p>
      <mat-form-field appearance="legacy">
        <input matInput formControlName="password" placeholder="Password" type="password">
        <!-- <mat-icon matSuffix>done</mat-icon> -->
      </mat-form-field>
    </p>
  
    
    <button mat-raised-button color="primary">Log in</button>

    <br>
    <br>
    <small>
        Not a member? <a style="color: #007bff" href="#" (click)="switchForm()">Sign up</a>
    </small>
  </form>
  
  