<h2>
  Sign in !
</h2>
<form action="">
  <p>
    <mat-form-field appearance="standard">
      <input matInput placeholder="Email" type="email">
      <mat-icon matSuffix>done</mat-icon>
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="Password" type="password">
      <mat-icon matSuffix>done</mat-icon>
    </mat-form-field>
  </p>

  <mat-checkbox class="example-margin">
    <small>
      Remember me ?
    </small>
  </mat-checkbox>

  <br>
  <br>
  
  <button mat-raised-button color="primary">Log in</button>
</form>

