<h2>
  Sign up !
</h2>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field appearance="legacy">
      <input matInput formControlName="email" placeholder="Email" type="email">
      <!-- <mat-icon matSuffix>done</mat-icon> -->
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field appearance="legacy">
      <input matInput formControlName="password" placeholder="Password" type="password">
      <!-- <mat-icon matSuffix>done</mat-icon> -->
    </mat-form-field>
  </p>

  <button mat-raised-button color="primary">Sign up</button>

  <br>
  <br>
  <small>
    Have an account? <a style="color: #007bff" href="#" (click)="switchForm()">Log in</a>
  </small>

</form>

